// pallete from http://www.colorhunter.com/palette/1284715
$color-1-d: #294062;
$color-2-d: #73879C;
$color-3-d: #FAFAF9;
$color-4-d: #D6D8D4;
$color-5-d: #CEB893;

$color-1-b: #0D3A7E;
$color-2-b: #5F87B0;
$color-3-b: #FAFBF9;
$color-4-b: #D7D9D2;
$color-5-b: #ECBF75;

$color-body-bg: $color-3-d;
$color-body-fg: $color-2-d;

$color-link: $color-1-d;
$color-link-hover: $color-1-b;

$color-heading: $color-1-d;
$color-heading-bg: $color-5-b;

$color-input: $color-2-b;
$color-input-bg: $color-3-d;

$color-section-bg: $color-4-d;
